*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main_div{
    background-color: rgb(38, 1, 65);
    padding-left: 3.6%;
    height: 100vh;
}

/*navigation styling*/

.nav_section{
    padding-top: 1.2%;
    display: flex;
}

.logo{
    font-weight: bolder;
    font-size: larger;
    padding-right: 3.8%;
    color: rgb(253, 222, 176); 
}

a{
    text-decoration: none;
    color: white;
}

.nav_opts{
    width: 60%;
    color: white;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

li:hover {
    background-color: rgb(253, 222, 176); 
    font-size: 17px;
    border-width: 50px;
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
    transition: ease-in-out;
    transition: 0.8s;
}
li:active{
    color: black;
}

.nav_actions{
    color: white;
    padding-left: 7%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.login{
    margin-right: 10%;
}

.divisor{
    width: 2px;
    background-color: white;
    height: 16px;
    padding-top: 19px;
}

button{
    margin-left: 10%;
    width: 99px;
    background-color: rgb(38, 1, 65);
    border: 0;
    font-size: 16px;
    color: white;
}
button:hover{
    background-color: rgb(253, 222, 176); 
    font-size: 17px;
    border-width: 100px;
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
    transition: ease-in-out;
    transition: 0.8s;
}
